<mapper namespace="dao.HallDAO">

    <resultMap id="HallResultMap" type="Hall">
        <id property="id" column="id"/>
        <result property="cityName" column="city_name"/>
        <result property="cityId" column="city_id"/>
    </resultMap>

    <select id="getById" resultMap="HallResultMap">
        SELECT * FROM hall h WHERE id = 1;
    </select>

    <select id="getAllHall" resultMap="HallResultMap">
        SELECT *
        FROM hall
    </select>
</mapper>
